/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Ver;
}

@font-face {
    font-family: 'Team401';
    src: url('fonts/team401.ttf'), url('fonts/team401.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Budmo';
  src: url(fonts/BudmoJigglish.woff2) format("opentype");
}
.huge-header {
  color:rgb(80, 69, 238);
  text-align: center;
  font-family: 'Team401';
  font-size: 1.6em;
}

iframe {
  border:2px;
  width:20%
}

.sidenav {
  height: 100%; /* Full height to cover everything */
  width:160px;
  position: fixed; /* Fixed position even on scroll */
  z-index:1; /* stay on the top */
  top:0; /* stay at the top */
  right: 0; /* location=right side */
  background: #383838; /* Black background sidebar */
  overflow-x: hidden; /* Disable horizontal scrolling */
  padding-top: 20px;
}

/* Navigation menu links customisation */
.sidenav a {
  padding: 6px 8px 6px 16px; /* Link seperation */
  text-decoration: none;
  font-size: 25px;
  color: #00aeff;
  font-size: 3em;
  display: block; /* ? */
  font-family: 'Budmo';
}


.marquee {
  width: 1800px;
  background-color: yellow;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  text-transform: uppercase;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}